S3method(as_osmar_bbox,Spatial)
S3method(c,osmar)
S3method(dim,osmar)
S3method(node,condition)
S3method(node,default)
S3method(plot,osmar)
S3method(print,nodes)
S3method(print,osmar)
S3method(print,relations)
S3method(print,summary.nodes)
S3method(print,summary.osmar)
S3method(print,summary.relations)
S3method(print,summary.ways)
S3method(print,ways)
S3method(relation,condition)
S3method(relation,default)
S3method(subset,osmar)
S3method(summary,nodes)
S3method(summary,osmar)
S3method(summary,relations)
S3method(summary,ways)
S3method(way,condition)
S3method(way,default)
export("%agrep%")
export("%grep%")
export(as_igraph)
export(as_osmar)
export(as_osmar_bbox)
export(as_sp)
export(attrs)
export(center_bbox)
export(complete_file)
export(corner_bbox)
export(find)
export(find_down)
export(find_nearest_node)
export(find_up)
export(get_osm)
export(node)
export(osm_crs)
export(osmsource_api)
export(osmsource_file)
export(osmsource_osmosis)
export(plot_nodes)
export(plot_ways)
export(refs)
export(relation)
export(tags)
export(way)
import(RCurl)
import(XML)
import(methods)
importFrom(geosphere,distm)
